*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
#header{
    background-size: 100px;
    font-size: 20px;
    background-color:  white;
    color: black;
    flex-direction: row;
    display: flex;
}
#logo{
    display: block;
}
#logoimg{
    width: 200px;
    height: 100px;
    display: inherit;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#vid1{
    width: 100%;
    height: 900px;
    margin-top: -25px;
}
#mbody{
    height: 2300px;
    font-size: 20px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#footer{
    height: 100px;
    background-size: 100px;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: auto;
}
#ulli{
    list-style-type: none;
    flex-direction: row;
    display: flex;
    margin-left: 500px;
    padding: 25px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
li a {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: 50px;
}
/* #menu{
    
} */

 .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.grid-container1 {
    display: grid;
    row-gap: 30px;
    grid-template-columns: auto;
    align-items: center;
}
  
.grid-item {
    /*background-color: rgba(207, 204, 204, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); 
    padding: 20px;*/
    font-size: 30px;
    text-align: center;
} 
.grid-item1 {
    /*background-color: rgba(207, 204, 204, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); 
    padding: 20px;*/
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
#cata{
    display: flex;
    margin-left: 100px;
}
#bcd{
    width: 450px;
}
#welcome{
    width: 90%;
    height: 600px;
    margin: 20px;
    margin-left: 50px;
}
#about{
    width: 90%;
    height: 600px;
    margin: 20px;
}
#order{
    width: 90%;
    height: 600px;
    margin-left: 20px;
}
#imgwelc{
    width: 800px;
    height: 600px;
}
#imgord{
    width: 900px;
    height: 600px;
}
#txtwelc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footcontact{
    text-decoration: none;
    color: white;
}

/*slider hesgiin css ehelj bnaaa*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}




#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}


.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}


.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}



.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}



.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}



@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}


.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}


/*slider hesgiin css ehelj bnaaa*/